#database_is_search_substring, #database_is_semi_magic_square, #formIsSearchSubstring {
    display: none;
}

html {
    background: linear-gradient(130deg, #78a0e4, #b67fff70);
    padding: 20px;
    height: 1vh;
}

a, button, select, input, .label_file {
    color: black;
    background: linear-gradient(130deg, #b5bcf2, #e5dcf6);
    font-size: 20px;
    text-decoration: none;

    margin: 5px;
    padding: 10px 25px;

    border: 2px grey solid;
    border-radius: 10px;
    transition-duration: 0.5s;
}

a:hover, .a_main:hover, button:hover, select:hover, input:hover, .label_file:hover {
    box-shadow: -2px -2px 5px whitesmoke, -2px 2px 5px whitesmoke, 2px -2px 5px whitesmoke, 2px 2px 5px whitesmoke;
}

input[type=file] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.a_main {
    color: black;
    background: linear-gradient(130deg, #b5bcf2, #e5dcf6);
    font-size: 30px;
    text-decoration: none;

    padding: 20px 50px;
    margin: 50px;
    display: table-cell;

    border: 2px grey solid;
    border-radius: 20px;
}

table {
    background: #a298ff;
    text-align: center;

    margin: auto;

    border: 1px solid grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

td {
    padding: 10px;
    font-size: x-large;
}

.mini_table {
    font-size: 30px;
    margin: auto;
    border-radius: 0;
}

.mini_table td {
    height: 30px;
    width: 30px;
    border: outset;

}

strong {
    font-size: 50px;
}

.no_border {
    border: none;
}

.error {
    background: #ff00001a;
    padding: 15px;
    margin: 0;

    border: 2px red dashed;
    border-radius: 15px;
    white-space: normal;
}

.database_style {
    width: fit-content;
}

.database_style td, a {
    font-size: 17px;
    padding: 5px;
    width: fit-content;
    line-height: 25px;
}

thead td {
    font-size: 20px;
    border-bottom: 2px solid black;
}

.label_file {
    font-family: sans-serif;
}

#file-chosen {
    margin-left: 15px;
    font-family: sans-serif;
}

.manual {
    background: #00d0ff1a;
    font-size: 20px;
    padding: 0;

    border: 2px #2c2c2c dashed;
    border-radius: 15px;
}
